<<!doctype html>
    <html lang="en">

    <head>
        <title>Actualizar Producto</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style_header.css">
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <div class="header-content">
                <div class="logo">
                    <div class="imglogo">
                        <a href="index.html">
                            <img src="notec_logo.svg" alt="logo notec" class="lgzoom ">
                        </a>
                    </div>
                    <!-- <h1><a href="index.html" class="t2_a hover3"> no<b>T</b>ec</a></h1> -->
                </div>
                <input type="checkbox" id="menu-check">
                <label id="menuH" for="menu-check">
                    <span id="menuH-abrir">&#9776;</span>
                    <span id="menuH-cerrar">X</span>
                </label>
                <div class="menu">
                    <nav>
                        <ul>
                            <li class="ocultar"></li>
                            <li><a href="index.html" style="text-decoration: none;">Inicio</a></li>
                            <li><a href="index.html #blog" style="text-decoration: none;">Blog</a></li>
                            <li><a href="productos.html" style="text-decoration: none;">Productos</a></li>
                            <li class="ult"><a href="contact/contact.html" style="text-decoration: none;">Contacto</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="container" id="app" style="margin-top:120px">
                <form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
                    <h2>Editar Producto </h2>
                    <p>Precio:{{precio}}</p>
                    <div class="mb-3">
                        <label for="id">Id</label>
                        <input type="number" name="id" id="id" disabled v-model="id">
                    </div>
                    <div class="mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" v-model="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio" v-model="precio">
                    </div>
                    <div class="mb-3">
                        <label for="stock">Stock</label>
                        <input type="number" name="stock" id="stock" v-model="stock">
                    </div>
                    <div class="mb-3">
                        <label for="imagen">Imagen</label>
                        <input type="text" name="imagen" id="imagen" v-model="imagen">
                        <img width="100" :src="imagen" alt="">
                    </div>
                    <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
                </form>
            </div>
        </main>
        <footer>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
            <a href="https://github.com" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a>
            <a href="contact/contact.html">Contacto</a>
        </footer>

        <!-- js -->
        <script src="https://kit.fontawesome.com/97e4681e3a.js" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
        <script>
            setInterval(function () {
                document.getElementsByClassName("next")[0].click();
            }, 5000);
        </script>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
            </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
            </script>
        <script src="./js/main.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/producto-edit.js"></script>
    </body>

    </html>
